@import "~bootstrap/scss/bootstrap.scss";

#content {
  margin-top: 5em;
}

.navbar-brand {
  margin-left: 40px;
}

.nav-link {
  color: white;
}

.signed-user-info {
  display: flex;
  margin: auto;

  .logout-button {
    margin-left: 1em;
    color: white;
  }
}

.user-login {
  margin: auto;
  color: white;
}

.form-container {
  width: 50%;
  margin: auto;
}

#footer {
  margin-top: 5em;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

div.chat-message {
  background-color: #deefff;
  padding: 1em;
}

div.my-chat-message {
  background-color: #8ab5dd;
  padding: 1em;
}

.d-flex {
  padding-bottom: 1em;
}

.chat-author-username {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.chat-block {
  padding: 0.5rem;
  border-radius: 15px;
}

.new-message-form > div > div:nth-child(1) {
  width: 95%;
}
